<VirtualHost *:80 >
  ServerAdmin admin@asirmandaprueba.tk
  ServerName {{ http_host }}
  DocumentRoot /var/www/{{ http_hostdir }}

    <Directory /var/www/{{ http_hostdir }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

Alias /.well-known/acme-challenge /var/lib/dehydrated/acme-challenges
<Directory /var/lib/dehydrated/acme-challenges>
	Options None
	AllowOverride None
	Require all granted
</Directory>

</VirtualHost>
