<IfModule mod_ssl.c>        
	<VirtualHost *:443>
             ServerAdmin admin@asirmandaprueba.tk
             ServerName {{ https_host1 }}
             DocumentRoot /var/www/{{ https_hostdir1 }}

    <Directory /var/www/{{ https_hostdir1 }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

	ErrorLog /var/log/apache2/{{ https_hostdir1 }}.error.log
	CustomLog /var/log/apache2/{{ https_hostdir1 }}.access.log combined

	SSLEngine on                
	SSLCertificateFile    /var/lib/dehydrated/certs/{{ https_host1 }}/fullchain.pem                
	SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ https_host1 }}/privkey.pem

</VirtualHost>
