<IfModule mod_ssl.c>
        <VirtualHost *:443>
             ServerAdmin admin@asirmandaprueba.tk
             ServerName {{ https_host2 }}
             DocumentRoot /var/www/{{ https_hostdir2 }}

    <Directory /var/www/{{ https_hostdir2 }}>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

        ErrorLog /var/log/apache2/{{ https_hostdir2 }}.error.log
        CustomLog /var/log/apache2/{{ https_hostdir2 }}.access.log combined

        SSLEngine on
        SSLCertificateFile    /var/lib/dehydrated/certs/{{ https_host2 }}/fullchain.pem
        SSLCertificateKeyFile /var/lib/dehydrated/certs/{{ https_host2 }}/privkey.pem

</VirtualHost>
